h1 {
    text-align: center;
    font-family:  'Tangerine', serif;
    font-size: 120px;
    text-shadow: 4px 4px 4px #aaa;
  }

h2 {
    text-align: left;
    font-family: 'Yatra One', cursive;
    font-size: 48px;
}

p {
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
}

body {
    background-color: burlywood
}
/* HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.l-left {
    margin-top: 0px;
    float: left;
}

.l-right {
    float: right;
}

.end {
    margin-top: 30px;
    font-size: 3em;
    font-weight: bold;
    opacity: 0;
    -webkit-transform: translateY(300px);
    -ms-transform: translateY(300px);
    transform: translateY(300px);
    -webkit-transition: opacity, -webkit-transform 1s;
    transition: opacity, transform 1s;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
}


a {
    text-decoration: none;
    color: white;
}

ul, li {
    list-style-type: none;
}



/* NAV STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header-top {
    background: rgba(0, 47, 77, .3);
    height: 70px;
    padding: 0 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 12;
    box-sizing: border-box;
}

/*h1 {*/
    /*line-height: 40px;*/
    /*height: 40px;*/
/*}*/

/*h1 a {*/
    /*display: block;*/
    /*padding: 0 10px;*/
/*}*/

.toggle-menu {
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
    top: 10px;
}

.toggle-menu i {
    position: absolute;
    display: block;
    height: 2px;
    background: white;
    width: 30px;
    left: 10px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.toggle-menu i:nth-child(1) {
    top: 16px;
}

.toggle-menu i:nth-child(2) {
    top: 24px;
}

.toggle-menu i:nth-child(3) {
    top: 32px;
}

.open-menu i:nth-child(1) {
    top: 25px;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.open-menu i:nth-child(2) {
    background: transparent;
}

.open-menu i:nth-child(3) {
    top: 25px;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}

nav {
    height: 0;
    opacity: 0;
    box-sizing: border-box;
    background: rgba(0, 47, 77, .25);
    position: fixed;
    top: 70px;
    width: 100%;
    -webkit-transition: all 3s;
    transition: all 3s;
}

.open-menu ~ nav {
    opacity: 1;
    padding: 80px 0;
    z-index: 15;
    height: calc(90vh - 70px);
}

nav ul {
    padding: 0 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

nav li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

nav li a {
    font-size: 2em;
    display: block;
    padding: 30px;
    text-align: center;
    -webkit-transition: background .3s;
    transition: background .3s;
}



/* SECTION STYLES - fullPage.js
–––––––––––––––––––––––––––––––––––––––––––––––––– */

section {
    text-align: center;
    /*background: url('https://unsplash.it/1910/1221?image=626') no-repeat center / cover;*/
}




/* SLIDENAV STYLES - fullPage.js
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: black;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    background: transparent;
    box-sizing: border-box;
    border: 1px solid #24221F;
}


