h1 {
    text-align: center;
    font-family:  'Tangerine', serif;
    font-size: 120px;
    text-shadow: 4px 4px 4px #aaa;
  }

h2 {
    text-align: left;
    font-family: 'Yatra One', cursive;
    font-size: 48px;
}

p {
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
}

body {
    background-color: burlywood
  }