<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Colorify</title>
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Yatra+One|Ubuntu|Tangerine">
  </head>
  <body>
    <h1>Colorify</h1>

    <h2>Application Overview</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
      Vel at minus quidem reprehenderit officia adipisci architecto voluptate sint rerum, 
      atque facere dolore repellendus fuga, tempora numquam ea a est ratione!
    </p>

    <h2>Turing Test</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
      Vel at minus quidem reprehenderit officia adipisci architecto voluptate sint rerum, 
      atque facere dolore repellendus fuga, tempora numquam ea a est ratione!
    </p>

    <h2>Other API</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
      Vel at minus quidem reprehenderit officia adipisci architecto voluptate sint rerum, 
      atque facere dolore repellendus fuga, tempora numquam ea a est ratione!
    </p>

    <h2>Our Algorithm</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
      Vel at minus quidem reprehenderit officia adipisci architecto voluptate sint rerum, 
      atque facere dolore repellendus fuga, tempora numquam ea a est ratione!  
    </p>

    <h2>Loss Visualization </h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
      Vel at minus quidem reprehenderit officia adipisci architecto voluptate sint rerum, 
      atque facere dolore repellendus fuga, tempora numquam ea a est ratione!    
    </p>

    <h2>About Us</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
      Vel at minus quidem reprehenderit officia adipisci architecto voluptate sint rerum, 
      atque facere dolore repellendus fuga, tempora numquam ea a est ratione!
    </p>

  </body>
</html>